<section id="contacts">
    <div class="container">
        <div id="book" class="box-large">
            <div id="list">
                <h1>Contacts</h1>
                <div class="content">
                    {{#each contacts}}
                    <div class="contact" data-id="{{@index}}" onclick="changeContent({{@index}})">
                        <a href="#/contacts/{{@index}}">Load</a>
                        <span class="avatar small">&#9787;</span>
                        <span class="title">{{firstName}} {{lastName}}</span>
                    </div>
                {{/each}}
                </div>
            </div>
            {{> details currentContact}}
        </div>
    </div>
</section>